# {{ ansible_managed }}
---
version: "3.5"

services:
  nextcloudpi:
    container_name: nextcloudpi
    image: ownyourbits/nextcloudpi
    ports:
      - "4443:4443"
      - "443:443"
      - "80:80"
    volumes:
      - "ncdata:/data"
    restart: unless-stopped
