# {{ ansible_managed }}
---
version: '3.5'

services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    environment:
      WEBSOCKET_ENABLED: "true"  # Enable WebSocket notifications.
      SHOW_PASSWORD_HINT: '{{ vaultwarden_show_pass_hint }}'
      SIGNUPS_ALLOWED: '{{ vaultwarden_signups_allowed }}'
      ADMIN_TOKEN: '{{ vw_admin_token }}'
      SMTP_HOST: '{{ vw_smtp_host }}'
      SMTP_PORT: '{{ vw_smtp_port }}'
      SMTP_SECURITY: '{{ vw_smtp_security }}'
      SMTP_FROM: '{{ vw_smtp_username }}'
      SMTP_USERNAME: '{{ vw_smtp_username }}'
      SMTP_PASSWORD: '{{ vw_smtp_password }}'
    volumes:
      - ./vw-data:/data

  vw_nginx:
    image: nginx:stable-alpine
    container_name: vw_nginx
    restart: always
    ports:
      - 1313:1313 
      - 4433:4433
    volumes:
      - './default.conf:/etc/nginx/conf.d/default.conf'
      - '{{ path_ssl }}:/etc/letsencrypt'
      - './htcontrol:/etc/nginx/htcontrol'
    depends_on:
      - vaultwarden
